* {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

body {
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.outerBox {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 45%;
    min-width: 15%;
    gap: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 31px -3px rgba(0,0,0,0.28);
}

.contentContainer {
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.qr_img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
    padding-bottom: 40px;
    padding-top: 30px;
}

.heroText {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 20px;
}

.mainText {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}